/* Hover Effects */

.button:hover {
    background-color: rgb(139, 139, 139);
}

.button:not(:hover){
    animation: fadeOutCircle 0.50s;
}

.gold:hover {
    background-color: rgb(255, 173, 79);
}

.gold:not(:hover) {
    animation: fadeOutGold 0.50s;
}

.light-gray:hover {
    background-color: rgb(211, 211, 211);
}

.light-gray:not(:hover) {
    animation: fadeOutLightGray 0.50s;
}

/* Fade Hovering Effects */

@keyframes fadeOutCircle {
    from {
        background-color: rgb(139, 139, 139);
    }

    to {
        background-color: rgb(53, 53, 53);
    }
}

@keyframes fadeOutGold {
    from {
        background-color: rgb(255, 173, 79);
    }

    to {
        background-color: rgb(255, 145, 0);
    }
}

@keyframes fadeOutLightGray {
    from {
        background-color: rgb(211, 211, 211)
    }

    to {
        background-color: rgb(146, 146, 146);
    }
}