body{
    background-color:rgb(19, 51, 47);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    user-select: none;
}

h1 {
    color:white;
    margin: 50px 0 50px;
}

h3{
    color: white;
    text-align: right;
    font-weight: 400;
    font-size: 5rem;
}

/* Classes */

.buttons{
    background-color: black;
    height: 430px;
    width: 350px;
    border-radius: 0 0 30px 30px;
}

.display{
    background-color: black;
    height: 230px;
    width: 350px;
    border-radius: 30px 30px 0 0;
}

.number-display{
    margin: 0;
    padding: 110px 25px 0 0;
}

.grid-container{
    /* background-color:black; */
    width: 350px;
    margin: 10% auto;
    gap: 20px;
}

.number{
    display: grid;
    margin: 11px 0 0 0;
}

.number0{
    display: grid;
    margin: 11px 0 0 0;
    padding-right: 78px;
}

/* .page{
    height: 100%;
    width: 80%;
    margin: auto;
    display: inline-block;
} */

.row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin: 10px;
}

.top-row {
    margin-top: 0px;
}

.last-row{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin: 10px;
}
