:root {
    touch-action: pan-x;
    touch-action: pan-y;
    height: 100%;
}

body{
    /* Frame */
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: center;
    background-position-y: 90px;
    background-color: black;

    /* Body Attributes */
    text-align: center;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    
    /* Text select disabled */
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

/* The whole calculator */
.calculator {
    display: grid;
    grid-template-rows: auto auto;
    margin: 0;
    justify-content: center;
}

.display {
    background-color: black;
    width: 350px;
    height: 240px;
    color: white;

    display: grid;
    justify-content: right;
    align-content: end;
}

/* Text inside the display */
.display h1 {
    margin: 0 20px 0 0;
    font-weight: 400;
    font-size: 4.5rem;
    max-width: 320px;
}

/* The keyboard as a whole, first rows and last one unified */
.keyboard {
    background-color: black;
    width: 350px;
    height: 516px;

    display: grid;
    grid-template-rows: auto auto;
    margin: 0;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

/* The grid of buttons */
/* Yeah... it's unnecessarily long */
.keys {
    display: grid;
    grid-template-areas:
        "ac plusminus percentage division"
        "n7 n8 n9 multiplication"
        "n4 n5 n6 minus"
        "n1 n2 n3 plus"
        "n0 n0 dot eq";
    gap: 16px 13px;
}

#ac {
    grid-area: ac;
}

#plusminus {
    grid-area: plusminus;
}

#percentage {
    grid-area: percentage;
}

#division {
    grid-area: division;
}

#n7 {
    grid-area: n7;
}

#n8 {
    grid-area: n8;
}

#n9 {
    grid-area: n9;
}

#multiplication {
    grid-area: multiplication;
}

#n4 {
    grid-area: n4;
}

#n5 {
    grid-area: n5;
}

#n6 {
    grid-area: n6;
}

#minus {
    grid-area: minus;
}

#n1 {
    grid-area: n1;
}

#n2 {
    grid-area: n2;
}

#n3 {
    grid-area: n3;
}

#plus {
    grid-area: plus;
}

#n0 {
    grid-area: n0;
}

#dot {
    grid-area: dot;
}

#eq {
    grid-area: eq;
}

/* Button Rows */
.button {
    padding: 7px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;

    font-size: 1.8rem;
    font-weight:400;
    
    background-color: rgb(53, 53, 53);
    color: white;
}

/* A separate button in order to make bigget than the rest */
.button2{
    width: 153px;
    border-radius: 50px;
    text-align: left;
    padding-left: 28px;
}

.gold{
    background-color: rgb(255, 145, 0);
}

.light-gray{
    background-color: rgb(146, 146, 146);
    color: black;
}
